In [ ]:
import pandas as pd
df = pd.read_csv("healthcare_data-2.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,severe
1,1,85,66,29,0,26.6,0.351,31,min
2,8,183,64,0,0,23.3,0.672,32,moderate
3,1,89,66,23,94,28.1,0.167,21,min
4,0,137,40,35,168,43.1,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,min
764,2,122,70,27,0,36.8,0.340,27,moderate
765,5,121,72,23,112,26.2,0.245,30,severe
766,1,126,60,0,0,30.1,0.349,47,mild
767,1,93,70,31,0,30.4,0.315,23,min

In [ ]:
df.dropna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB

In [ ]:
from pandas.core.arrays.sparse import array
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
label = le.fit_transform(df['Outcome'])
label
df.drop('Outcome',axis = 1, inplace = True)
df['Outcome']= label
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,3
1,1,85,66,29,0,26.6,0.351,31,1
2,8,183,64,0,0,23.3,0.672,32,2
3,1,89,66,23,94,28.1,0.167,21,1
4,0,137,40,35,168,43.1,2.288,33,3
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,1
764,2,122,70,27,0,36.8,0.340,27,2
765,5,121,72,23,112,26.2,0.245,30,3
766,1,126,60,0,0,30.1,0.349,47,0
767,1,93,70,31,0,30.4,0.315,23,1

In [ ]:
from sklearn import preprocessing
df_scaled = preprocessing.scale(df)
df_scaled = pd.DataFrame(df_scaled,columns=df.columns)
df_scaled['Outcome']=df['Outcome']
df=df_scaled
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0.639947,0.848324,0.149641,0.907270,-0.692891,0.204013,0.468492,1.425995,3
1,-0.844885,-1.123396,-0.160546,0.530902,-0.692891,-0.684422,-0.365061,-0.190672,1
2,1.233880,1.943724,-0.263941,-1.288212,-0.692891,-1.103255,0.604397,-0.105584,2
3,-0.844885,-0.998208,-0.160546,0.154533,0.123302,-0.494043,-0.920763,-1.041549,1
4,-1.141852,0.504055,-1.504687,0.907270,0.765836,1.409746,5.484909,-0.020496,3
...,...,...,...,...,...,...,...,...,...
763,1.827813,-0.622642,0.356432,1.722735,0.870031,0.115169,-0.908682,2.532136,1
764,-0.547919,0.034598,0.046245,0.405445,-0.692891,0.610154,-0.398282,-0.531023,2
765,0.342981,0.003301,0.149641,0.154533,0.279594,-0.735190,-0.685193,-0.275760,3
766,-0.844885,0.159787,-0.470732,-1.288212,-0.692891,-0.240205,-0.371101,1.170732,0
767,-0.844885,-0.873019,0.046245,0.656358,-0.692891,-0.202129,-0.473785,-0.871374,1

In [ ]:
print(df.rename(columns={'BloodPressure':'BP'}))
print(df.rename(columns={'DiabetesPedigreeFunction':'Daibetes'}))

     Pregnancies   Glucose        BP  SkinThickness   Insulin       BMI  \
0       0.639947  0.848324  0.149641       0.907270 -0.692891  0.204013
1      -0.844885 -1.123396 -0.160546       0.530902 -0.692891 -0.684422
2       1.233880  1.943724 -0.263941      -1.288212 -0.692891 -1.103255
3      -0.844885 -0.998208 -0.160546       0.154533  0.123302 -0.494043
4      -1.141852  0.504055 -1.504687       0.907270  0.765836  1.409746
..           ...       ...       ...            ...       ...       ...
763     1.827813 -0.622642  0.356432       1.722735  0.870031  0.115169
764    -0.547919  0.034598  0.046245       0.405445 -0.692891  0.610154
765     0.342981  0.003301  0.149641       0.154533  0.279594 -0.735190
766    -0.844885  0.159787 -0.470732      -1.288212 -0.692891 -0.240205
767    -0.844885 -0.873019  0.046245       0.656358 -0.692891 -0.202129

     DiabetesPedigreeFunction       Age  Outcome
0                    0.468492  1.425995        3
1                   -0.365061 -0.190672        1
2                    0.604397 -0.105584        2
3                   -0.920763 -1.041549        1
4                    5.484909 -0.020496        3
..                        ...       ...      ...
763                 -0.908682  2.532136        1
764                 -0.398282 -0.531023        2
765                 -0.685193 -0.275760        3
766                 -0.371101  1.170732        0
767                 -0.473785 -0.871374        1

[768 rows x 9 columns]
     Pregnancies   Glucose  BloodPressure  SkinThickness   Insulin       BMI  \
0       0.639947  0.848324       0.149641       0.907270 -0.692891  0.204013
1      -0.844885 -1.123396      -0.160546       0.530902 -0.692891 -0.684422
2       1.233880  1.943724      -0.263941      -1.288212 -0.692891 -1.103255
3      -0.844885 -0.998208      -0.160546       0.154533  0.123302 -0.494043
4      -1.141852  0.504055      -1.504687       0.907270  0.765836  1.409746
..           ...       ...            ...            ...       ...       ...
763     1.827813 -0.622642       0.356432       1.722735  0.870031  0.115169
764    -0.547919  0.034598       0.046245       0.405445 -0.692891  0.610154
765     0.342981  0.003301       0.149641       0.154533  0.279594 -0.735190
766    -0.844885  0.159787      -0.470732      -1.288212 -0.692891 -0.240205
767    -0.844885 -0.873019       0.046245       0.656358 -0.692891 -0.202129

     Daibetes       Age  Outcome
0    0.468492  1.425995        3
1   -0.365061 -0.190672        1
2    0.604397 -0.105584        2
3   -0.920763 -1.041549        1
4    5.484909 -0.020496        3
..        ...       ...      ...
763 -0.908682  2.532136        1
764 -0.398282 -0.531023        2
765 -0.685193 -0.275760        3
766 -0.371101  1.170732        0
767 -0.473785 -0.871374        1

[768 rows x 9 columns]

In [ ]:
from numpy import column_stack
old_cols=df.columns.values
new_cols= ['Pregnancies','BloodPressure','Glucose','BMI']
df=df.reindex(columns=new_cols)
df

     Pregnancies  BloodPressure   Glucose       BMI
0       0.639947       0.149641  0.848324  0.204013
1      -0.844885      -0.160546 -1.123396 -0.684422
2       1.233880      -0.263941  1.943724 -1.103255
3      -0.844885      -0.160546 -0.998208 -0.494043
4      -1.141852      -1.504687  0.504055  1.409746
..           ...            ...       ...       ...
763     1.827813       0.356432 -0.622642  0.115169
764    -0.547919       0.046245  0.034598  0.610154
765     0.342981       0.149641  0.003301 -0.735190
766    -0.844885      -0.470732  0.159787 -0.240205
767    -0.844885       0.046245 -0.873019 -0.202129

[768 rows x 4 columns]

Part 2

In [23]:
import pandas as pd
data = pd.read_csv("train_sample.csv")
data.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,89489,3,1,13,379,2017-11-06 15:13:23,NaN,0
1,204158,35,1,13,21,2017-11-06 15:41:07,2017-11-07 08:17:19,1
2,3437,6,1,13,459,2017-11-06 15:42:32,NaN,0
3,167543,3,1,13,379,2017-11-06 15:56:17,NaN,0
4,147509,3,1,13,379,2017-11-06 15:57:01,NaN,0

In [24]:
from pandas.core.arrays.sparse import array
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
label = le.fit_transform(data['is_attributed'])
label
data.drop('is_attributed',axis = 1, inplace = True)
data['is_attributed']= label
data.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,89489,3,1,13,379,2017-11-06 15:13:23,NaN,0
1,204158,35,1,13,21,2017-11-06 15:41:07,2017-11-07 08:17:19,1
2,3437,6,1,13,459,2017-11-06 15:42:32,NaN,0
3,167543,3,1,13,379,2017-11-06 15:56:17,NaN,0
4,147509,3,1,13,379,2017-11-06 15:57:01,NaN,0

In [29]:
df1=df.drop('attributed_time',axis=1)
df2=df1.drop('click_time',axis =1)
df2.dropna
df2

             ip  app  device  os  channel  is_attributed
0         89489    3       1  13      379              0
1        204158   35       1  13       21              1
2          3437    6       1  13      459              0
3        167543    3       1  13      379              0
4        147509    3       1  13      379              0
...         ...  ...     ...  ..      ...            ...
2300556   32457    2       1  19      477              0
2300557   20266   14       1  13      446              0
2300558   49383   12       2  17      178              0
2300559   34894   12       1  15      145              0
2300560  232000    9       1  19      134              0

[2300561 rows x 6 columns]

In [30]:
from sklearn import preprocessing
df2_scaled = preprocessing.scale(df2)
df2_scaled = pd.DataFrame(df2_scaled,columns=df2.columns)
df2_scaled['is_attributed']=df2['is_attributed']
dataf=df2_scaled
dataf

               ip       app    device        os   channel  is_attributed
0       -0.193255 -0.593191 -0.089865 -0.181958  0.950819              0
1        1.181781  0.924475 -0.089865 -0.181958 -1.822086              1
2       -1.225136 -0.450909 -0.089865 -0.181958  1.570462              0
3        0.742718 -0.593191 -0.089865 -0.181958  0.950819              0
4        0.502483 -0.593191 -0.089865 -0.181958  0.950819              0
...           ...       ...       ...       ...       ...            ...
2300556 -0.877146 -0.640618 -0.089865 -0.072547  1.709882              0
2300557 -1.023333 -0.071493 -0.089865 -0.181958  1.469770              0
2300558 -0.674181 -0.166347 -0.085868 -0.109017 -0.606036              0
2300559 -0.847923 -0.166347 -0.089865 -0.145488 -0.861638              0
2300560  1.515645 -0.308628 -0.089865 -0.072547 -0.946839              0

[2300561 rows x 6 columns]

In [34]:
print(df2.rename(columns={'app':'Application','is_attributed':'Attribution'}))

             ip  Application  device  os  channel  Attribution
0         89489            3       1  13      379            0
1        204158           35       1  13       21            1
2          3437            6       1  13      459            0
3        167543            3       1  13      379            0
4        147509            3       1  13      379            0
...         ...          ...     ...  ..      ...          ...
2300556   32457            2       1  19      477            0
2300557   20266           14       1  13      446            0
2300558   49383           12       2  17      178            0
2300559   34894           12       1  15      145            0
2300560  232000            9       1  19      134            0

[2300561 rows x 6 columns]

In [37]:
from numpy import column_stack
old_cols=df2.columns.values
new_cols= ['ip','channel','Application','device','os','Attribution']
df=df2.reindex(columns=new_cols)
df

             ip  channel  Application  device  os  Attribution
0         89489      379          NaN       1  13          NaN
1        204158       21          NaN       1  13          NaN
2          3437      459          NaN       1  13          NaN
3        167543      379          NaN       1  13          NaN
4        147509      379          NaN       1  13          NaN
...         ...      ...          ...     ...  ..          ...
2300556   32457      477          NaN       1  19          NaN
2300557   20266      446          NaN       1  13          NaN
2300558   49383      178          NaN       2  17          NaN
2300559   34894      145          NaN       1  15          NaN
2300560  232000      134          NaN       1  19          NaN

[2300561 rows x 6 columns]